.App {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
  height: 70px;
  margin: 20px;
  padding: 5px;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 10px;
  
}

.App > img{
  height: inherit;
  width: 250x;
}

.mybtn{
  width: 120px;
  height: 50px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 120px;
  background-color: rgb(19, 196, 219);
  color: white;
  font-weight: bold;
  font-size: larger;
}